MILVUS_URI=http://localhost:19530
MILVUS_TOKEN=
MILVUS_COLLECTION=ai_cs_knowledge_chunk
EMBEDDING_DIMENSION=1024
AI_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
AI_EMBEDDING_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/embeddings
AI_API_KEY=
AI_CHAT_MODEL=qwen-plus
AI_EMBEDDING_MODEL=text-embedding-v4
